
body {
  background: rgb(196, 194, 194);
  margin: 2%;
}

.navbar-expand-lg {
  border: solid 2px black;
  margin-bottom: 1%;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}
.active {
  border: solid 2px black;
  margin-bottom: 1%;
}
.active img {
  width: 100px;
  height: 400px;
}

@media (min-width: 992px) {
  .carousel-indicators {
    width: 10%;
  }
}
main{
  display: flex;
}
.side-bar{
  background-color: blueviolet;
  width:auto;
}

.cards{
display: flex;
flex-wrap: wrap;
width:auto;
}

.card{
margin: 0.5%;
width: 400%;
padding: 0.5%;
}

.card-title 
{
  text-align: center;
  font-family: 'Courgette', cursive;
}

.card-text{
  text-align: justify;
  font-family: 'Asap Condensed', sans-serif;
  padding: 2%;
  margin-bottom: 4%;
}
.btn{
width: 10rem;
margin: 2%;
margin-left: 55%;
background-color: gray;
border-color: black;
border-radius:50px 50px 50px 50px;
} 

.btn:hover{
background: rgb(45, 45, 44);
}